.header {
  display: grid;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}
header h1 {
  text-align: center;
}
.header_menu {
  display: flex;
  gap: 20px;
}
.header_menu a {
  display: inline-block;
  padding: 12px 20px;
  background-color: aliceblue;
  text-transform: uppercase;
  border-radius: 4px;
  border: 2px solid aliceblue; /*para que o hover não se mecha, coloque uma borda que seje impreceptivel*/
}
.header_menu a:hover {
  border: 2px solid red; /*para que a borda nao fique se mechendo apos ser add a borda, va no a do menu e adicione a bordar*/
}
